@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Authentication System</h1>

<div class="container">
    <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Signup</a>
    <a asp-controller="Account" asp-action="Login" class="btn btn-success">Login</a>
</div>